/Diena1/nbproject/private/
/Diena1/build/
/Diena2/nbproject/private/
/Diena2/build/
/Diena3/nbproject/private/
/Diena3/build/
/Diena4/nbproject/private/
/Diena4/build/
/Diena4/dist/
/Diena5/nbproject/private/
/Diena5/build/
/Diena5/dist/
/Diena7/nbproject/private/
/Diena7/build/
/Diena7/dist/
/Diena9/nbproject/private/
/Diena9/build/
/Games/nbproject/private/
/Games/build/
/Uzdevumi/nbproject/private/
/Uzdevumi/build/